<!DOCTYPE html>
<html>
  <head>
    <title>scarap ,me</title>
    <%= csrf_meta_tags %>
    <%= csrf_meta_tag %>
    <%= csp_meta_tag %>

  <body>
    <header class="navbar  navbar-inverse">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#index">HOME</a></li>
          <li><%=link_to "Previous Search", topics_path %></li>
          <li><%=link_to "Contact", topics_path %></li>
        </ul>
      </div>
    </nav>
  </header>
    <%= yield %>
  </body>
</html>
